html {
  width: 100%;
}
* {
  font-family: "harry_pregular";
  background-color: black;
  color: aliceblue;
}
/* ---------------------------------header---------------------------------  */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
h1 {
  color: #946b2d;
  text-align: center;
  font-size: 65px;
  margin: 0 auto;
  font-weight: lighter;
}
.nav img {
  background-color: rgba(0, 0, 0, 0.226);
  position: relative;
  /* margin-left: 20px; */
  margin-top: 5px;
}

/* ------------------------------categories--------------------------------- */
.categories {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18vh;
  margin-left: 80vh;
  width: 300px;
  color: white;
}
.categories button {
  color: #946b2d;
  font-size: 17px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  /* color: white; */
  cursor: pointer;
  border: 1px solid;
  padding: 10px;
  width: 290px;
  box-shadow: /*1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,*/ 4px 4px 0px
      0px,
    5px 5px 0px 0px; /* cheated from goolge :) */
  transform: translateX(2em);
}

.categoriesClicked {
  cursor: not-allowed;
  opacity: 0.7;
}
/* ---------------------------------dash--------------------------------- */
.showDash {
  position: absolute;
  align-items: center;
  margin-left: 80vh;
  margin-top: -30vh;
  font-size: 30px;
  width: 60vh;
  color: hsl(359, 96%, 19%);
}
/* ---------------------------------Alphabets--------------------------------- */
.letters {
  display: flex;
  flex-wrap: wrap;
  width: 580px;
  justify-content: center;
  position: relative;
  margin-top: 45vh;
  align-items: center;
  margin-left: 60vh;
}
.letters button {
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #946b2d;
  cursor: pointer;
  border: 1px solid;
  padding: 10px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px; /* cheated from goolge :) */
  font-size: 20px;
  margin: 5px;
  align-items: center;
  text-align: center;
}
.letters button:active {
  transform: translateX(2px);
}
.clicked {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.clickOnreset {
  opacity: 1;
  cursor: pointer;
}
.letter.stop {
  pointer-events: none;
}

/* ---------------------------------win and losing pop up--------------------------------- */
.close {
  float: right;
  position: relative;
  margin-top: 1px;
  margin-left: 3px;
}
.popup {
  margin: 100px auto;
  margin-top: 30vh;
  padding: 20px;
  background: black;
  width: 30%;
  height: 30%;
  position: relative;
  border: 1px solid white;
}
.popup h2 {
  margin-top: 42px;
  color: hsl(359, 96%, 19%);
  text-align: center;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  text-decoration: none;
  color: white;
}
.popup .close:hover {
  color: red;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.overlay:target {
  visibility: none;
  transition: none;
  opacity: 0;
  pointer-events: none;
}

.playStop {
  display: flex;
  position: relative;
  float: left;
  margin-top: 1vh;
  align-items: center;
  justify-content: space-around;
  width: 90px;
  margin-left: 22px;
}
.playStop img {
  width: 35px;
}
#stopTheme img {
  width: 60px;
}
.hideHangman {
  display: none;
}
/* hangman */
.hangman {
  position: absolute;
  margin-left: 10vh;
}
.hangman img {
  width: 20vw;
}
.body img {
  position: absolute;
  margin-top: 30vh;
  background-color: rgba(0, 4, 7, 0.015);
  display: none;
}
.noFace img,
.left img,
.right img,
.mouth img {
  position: absolute;
  margin-top: 12vh;
  margin-left: 3vw;
  display: none;
}
.letter-1 .noFace img {
  display: block;
}
.letter-2 .left img {
  display: block;
}
.letter-3 .right img {
  display: block;
}
.letter-4 .mouth img {
  display: block;
}
.letter-5 .body img {
  display: block;
}

#lives {
  position: absolute;
  top: 0;
  margin-top: 28vh;
  margin-left: 25vh;
  color: hsl(359, 96%, 19%);
  font-size: 24px;
}
